.home-page-grid {
  display: grid;
  gap: 1rem;
  justify-content: center;
  @media (min-width: 64em) {
    grid-template-columns: 2fr 1fr;
  }
  &__calender {
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 0.5rem solid var(--color-primary);
    .calender-back-groud-color {
      background-color: var(--color-light);
    }
  }

  &__upcoming {
    background-color: #efefef;
    padding: 20px 10px;
  }
}
