.shift-to-apply {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
  padding: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  .shift-to-apply-actions {
    &__delete {
      cursor: pointer;
      color: var(--color-secondary);
    }
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .shift-to-apply-checkbox {
    label {
      color: white;
    }
  }
}
